body {
  text-align: center;
  display: table;
}

.content {
  display: table-cell;
  min-width: 730px;
  text-align: center;
}

.social-info {
  display: inline-block;
  margin: 0 50px 0 50px;
  height: 470px;
  width: 15%;
  min-width: 95px;
  text-align: left;
  vertical-align: top;
  position: relative;
  border: none;
  padding: 15px;
}

.social-info p {
  margin: 0;
}

.social-info .icon {
  margin: 0 0 0 -15px;
  position: absolute;
  bottom: 15px;
  left: 50%;
}

.facebook-section {
  background: #3b5998;
}

.facebook-section p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #fff;
}

.facebook-icon {
  display: inline-block;
  background: url('../img/social-icons.png') no-repeat 0 0;
  background-size: 224px 63.04px;
  width: 32px;
  height: 31.06px;
}

.twitter-section {
  background: #4099ff;
}

.twitter-section p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: left;
}

.twitter-icon {
  display: inline-block;
  background: url('../img/social-icons.png') no-repeat -32px 0;
  background-size: 224px 63.04px;
  width: 32px;
  height: 31.06px;
}

.instagram-section {
  background: #663300;
}

.instagram-section p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: left;
}

.instagram-icon {
  display: inline-block;
  background: url('../img/social-icons.png') no-repeat -96px 0;
  background-size: 224px 63.04px;
  width: 32px;
  height: 31.06px;
}
