/*!
 * All Rights Reserved
 * This software is proprietary information of
 * Intelligent Sense
 * Use is subject to license terms.
 * Filename: style.scss
 */
/*
 * Author:      kchaves@intelligentsense.com
 * Date:        28/10/2013
 * Description: Main COMPASS file. Import all the partials you need here.
 */
/**
* Mixin for image replacement
*/
/* line 16, ../scss/partials/_general.scss */
.bg {
  background-image: url(../img/bg.png);
  background-position: left top;
  background-repeat: repeat;
  border-top: 10px solid black;
  margin: auto;
}

/* line 24, ../scss/partials/_general.scss */
.row {
  margin: 0;
  border-bottom: 1px solid #c8c8c8;
}

/* line 29, ../scss/partials/_general.scss */
.global-container {
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 600px) {
  /* line 29, ../scss/partials/_general.scss */
  .global-container {
    width: 80%;
  }
}

/* line 16, ../scss/partials/_header.scss */
.header-container {
  margin: 34px 0 0 18px;
  padding: 0;
  width: 90%;
  position: relative;
}
/* line 22, ../scss/partials/_header.scss */
.header-container .header-nav {
  margin: 27px 0 0 0;
  padding: 0;
}
/* line 26, ../scss/partials/_header.scss */
.header-container .header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 600px) {
  /* line 26, ../scss/partials/_header.scss */
  .header-container .header-nav ul {
    border-top: 1px solid #c8c8c8;
  }
}
/* line 35, ../scss/partials/_header.scss */
.header-container .header-nav ul li {
  display: block;
}
@media screen and (min-width: 600px) {
  /* line 35, ../scss/partials/_header.scss */
  .header-container .header-nav ul li {
    display: inline-block;
  }
}
/* line 41, ../scss/partials/_header.scss */
.header-container .header-nav ul li .header-nav-link {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 17px;
  color: #666;
  padding: 5px 0 10px 0;
  margin: 5px 6px 0 0;
  line-height: normal;
  border-bottom: 1px solid #c8c8c8;
}
/* line 49, ../scss/partials/_header.scss */
.header-container .header-nav ul li .header-nav-link:hover {
  color: #888;
  text-decoration: none;
}
@media screen and (min-width: 600px) {
  /* line 41, ../scss/partials/_header.scss */
  .header-container .header-nav ul li .header-nav-link {
    border: none;
  }
}

/* line 16, ../scss/partials/_footer.scss */
footer {
  background-color: black;
  text-align: right;
  padding: 20px 15% 22px 0;
}
/* line 20, ../scss/partials/_footer.scss */
footer .footer-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: white;
  line-height: 1.7em;
}

/* line 16, ../scss/partials/_content.scss */
.intro {
  border-bottom: 1px solid #c8c8c8;
  margin: 27px 0 0 0;
}
/* line 19, ../scss/partials/_content.scss */
.intro .intro-quote {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 34px;
  color: #666;
  line-height: 1.5em;
  padding: 10px;
  margin: 0;
}
/* line 24, ../scss/partials/_content.scss */
.intro .intro-quote .intro-quote-author {
  font-family: 'Open Sans', sans-serif;
  font-weight: inherit;
  font-size: 25px;
  color: #666;
  line-height: 1.5em;
  margin-left: 10px;
}
/* line 31, ../scss/partials/_content.scss */
.intro .intro-subquote {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #666;
  line-height: 1.5em;
  margin: 15px 0 0 0;
  padding: 10px;
}

/* line 39, ../scss/partials/_content.scss */
.info {
  float: left;
}
/* line 41, ../scss/partials/_content.scss */
.info .info-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #c33;
}
/* line 45, ../scss/partials/_content.scss */
.info .info-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #575757;
}
/* line 49, ../scss/partials/_content.scss */
.info .info-image {
  background-color: white;
  border: 1px solid #d6d6d6;
  float: left;
  margin: 16px 13px 8px 0;
  padding: 8px;
}
/* line 57, ../scss/partials/_content.scss */
.info .info-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px/100%;
  color: white;
  background-color: black;
  border-radius: 5px;
  transition: all .2s ease-in-out;
  text-align: center;
  display: inline-block;
  padding: 12px 18px;
  margin-top: 14px;
}
/* line 66, ../scss/partials/_content.scss */
.info .info-button:hover {
  background-color: #333;
}

/* line 72, ../scss/partials/_content.scss */
.section-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 22px;
  color: #c33;
}

/* line 76, ../scss/partials/_content.scss */
.article {
  width: 92%;
  margin: auto;
}
/* line 79, ../scss/partials/_content.scss */
.article .article-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #666;
}
/* line 82, ../scss/partials/_content.scss */
.article .article-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #666;
  line-height: 1.7em;
}
/* line 85, ../scss/partials/_content.scss */
.article .article-content .quote {
  background: #ededed;
  border: 1px solid #C8C8C8;
  color: #c33;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-weight: bold;
  font-size: 15px;
  width: 96%;
  margin: 0;
  padding: 31px 45px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
@media only screen and (max-width: 1224px) {
  /* Styles */
}
/* Desktops and laptops ----------- */
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* Retina Display ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
}
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  /* ============
      WIDE: Menu
     ============ */
  /* ============
      WIDE: Main
     ============ */
}
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 103, ../scss/partials/_media-queries.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 110, ../scss/partials/_media-queries.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 115, ../scss/partials/_media-queries.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 119, ../scss/partials/_media-queries.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 127, ../scss/partials/_media-queries.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 133, ../scss/partials/_media-queries.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 139, ../scss/partials/_media-queries.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 143, ../scss/partials/_media-queries.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 148, ../scss/partials/_media-queries.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 156, ../scss/partials/_media-queries.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 163, ../scss/partials/_media-queries.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
