/*!
 * All Rights Reserved
 * This software is proprietary information of
 * Intelligent Sense
 * Use is subject to license terms.
 * Filename: style.scss
 */
/*
 * Author:      kchaves@intelligentsense.com
 * Date:        28/10/2013
 * Description: Main COMPASS file. Import all the partials you need here.
 */
/**
* Mixin for image replacement
*/
/* line 16, ../scss/partials/_general.scss */
.bg {
  background-image: url(../img/bg.png);
  background-position: left top;
  background-repeat: repeat;
  border-top: 10px solid black;
  margin: auto;
}

/* line 16, ../scss/partials/_header.scss */
.header-container {
  margin: 34px 0 0 18px;
  padding: 0;
  width: 90%;
}
/* line 21, ../scss/partials/_header.scss */
.header-container .header-nav {
  margin: 27px 0 0 0;
  padding: 0;
}
/* line 25, ../scss/partials/_header.scss */
.header-container .header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 32, ../scss/partials/_header.scss */
.header-container .header-nav ul li .header-nav-link {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 17px;
  color: #666;
  padding: 5px 0 10px 0;
  margin: 5px 6px 0 0;
  line-height: normal;
  border-bottom: 1px solid #c8c8c8;
}
/* line 40, ../scss/partials/_header.scss */
.header-container .header-nav ul li .header-nav-link:hover {
  color: #888;
  text-decoration: none;
}

/* line 18, ../scss/partials/_footer.scss */
.footer-container footer {
  color: white;
  padding: 20px 0;
}

/* line 16, ../scss/partials/_content.scss */
.intro {
  border-bottom: 1px solid #c8c8c8;
  width: 100%;
  margin: 32px 0 0 0;
}
/* line 20, ../scss/partials/_content.scss */
.intro .intro-quote {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 34px;
  color: #666;
  line-height: 1.5em;
  padding: 10px;
  margin: 0 0 0 0;
}
/* line 25, ../scss/partials/_content.scss */
.intro .intro-quote .intro-quote-author {
  font-family: 'Open Sans', sans-serif;
  font-weight: inherit;
  font-size: 25px;
  color: #666;
  line-height: 1.5em;
  margin-left: 10px;
}
/* line 32, ../scss/partials/_content.scss */
.intro .intro-subquote {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #666;
  line-height: 1.5em;
  margin: 15px 0 0 0;
  padding: 10px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
@media only screen and (max-width: 1224px) {
  /* Styles */
}
/* Desktops and laptops ----------- */
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* Retina Display ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
}
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  /* ============
      WIDE: Menu
     ============ */
  /* ============
      WIDE: Main
     ============ */
}
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 103, ../scss/partials/_media-queries.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 110, ../scss/partials/_media-queries.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 115, ../scss/partials/_media-queries.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 119, ../scss/partials/_media-queries.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 127, ../scss/partials/_media-queries.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 133, ../scss/partials/_media-queries.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 139, ../scss/partials/_media-queries.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 143, ../scss/partials/_media-queries.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 148, ../scss/partials/_media-queries.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 156, ../scss/partials/_media-queries.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 163, ../scss/partials/_media-queries.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
