//
// * All Rights Reserved
// * This software is proprietary information of
// * Intelligent Sense
// * Use is subject to license terms.
// * Filename: _content.scss
//

// *
// * Author:      kchaves@intelligentsense.com
// * Date:        28/10/2013
// * Description: Content partial. Add here all the classes for the content
//                of the site, divided by section.
// 

.intro {
    @include bottom-border;
    width: 100%;
    margin: 32px 0 0 0;
    .intro-quote {
        @include text(34px, 600);
        line-height: 1.5em;
        padding: 10px;
        margin: 0 0 0 0;
        .intro-quote-author {
            @include text(25px, inherit);
            line-height: 1.5em;
            margin-left: 10px;
        }
    }

    .intro-subquote {
        @include text(15px, normal);
        line-height: 1.5em;
        margin: 15px 0 0 0;
        padding: 10px;
    }
}
