//
// * All Rights Reserved
// * This software is proprietary information of
// * Intelligent Sense
// * Use is subject to license terms.
// * Filename: _content.scss
//

// *
// * Author:      kchaves@intelligentsense.com
// * Date:        28/10/2013
// * Description: Content partial. Add here all the classes for the content
//                of the site, divided by section.
// 

.intro {
    @include bottom-border;
    margin: 27px 0 0 0;
    .intro-quote {
        @include text(34px, 600);
        line-height: 1.5em;
        padding: 10px;
        margin: 0;
        .intro-quote-author {
            @include text(25px, inherit);
            line-height: 1.5em;
            margin-left: 10px;
        }
    }

    .intro-subquote {
        @include text(15px, normal);
        line-height: 1.5em;
        margin: 15px 0 0 0;
        padding: 10px;
    }
}

.info {
    float: left;
    .info-title {
        @include text(22px, 600, #c33);
    }

    .info-content {
        @include text(15px, normal, #575757);
    }

    .info-image {
        background-color: white;
        border: 1px solid #d6d6d6;
        float: left;
        margin: 16px 13px 8px 0;
        padding: 8px;
    }

    .info-button {
        @include text(#{14px/100%}, normal, white);
        background-color: black;
        border-radius: 5px;
        transition: all .2s ease-in-out;
        text-align: center;
        display: inline-block;
        padding: 12px 18px;
        margin-top: 14px;
        &:hover {
            background-color: #333;
        }
    }
}

.section-title {
    @include text(22px, normal, #c33);
}

.article {
    width: 92%;
    margin: auto;
    .article-title {
        @include text(14px, 600, #666);
    }
    .article-content {
        @include text(15px);
        line-height: 1.7em;
        .quote {
            background: #ededed;
            border:1px solid #C8C8C8;
            color:#c33;
            font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
            font-weight:bold;
            font-size: 15px;
            width: 96%;
            margin: 0;
            padding: 31px 45px;
        }
    }
}
