//
// * All Rights Reserved
// * This software is proprietary information of
// * Intelligent Sense
// * Use is subject to license terms.
// * Filename: _general.scss
//

// *
// * Author:      kchaves@intelligentsense.com
// * Date:        28/10/2013
// * Description: General partial. Add here all the classes and font-face that
//                are used throughout the site.
// 

.bg {
    background-image:url(../img/bg.png); 
    background-position:left top;
    background-repeat:repeat;
    border-top: 10px solid black;
    margin: auto;
}

.row {
    margin: 0;
    @include bottom-border;
}

.global-container {
    width: 100%;
    margin: auto;

    @media screen and (min-width: 600px) {
        width: 80%;
    }
}
