//
// * All Rights Reserved
// * This software is proprietary information of
// * Intelligent Sense
// * Use is subject to license terms.
// * Filename: _header.scss
//

// *
// * Author:      kchaves@intelligentsense.com
// * Date:        28/10/2013
// * Description: Header partial. Add here all the classes for the header
//                of the site.
// 

.header-container {
    margin: 34px 0 0 18px;
    padding: 0;
    width: 90%;

    .header-nav{
        margin: 27px 0 0 0;
        padding: 0;
        position: relative;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            @media screen and (min-width: 600px) {
                @include bottom-border;
                @include top-border;
                position: absolute;
                top: 50%;
                right: 20px;
            }

            li {
                .header-nav-link {
                    display: block;
                    @include text;
                    padding: 5px 0 10px 0;
                    margin: 5px 6px 0 0;
                    line-height: normal;
                    @include bottom-border;

                    &:hover {
                        color: #888;
                        text-decoration: none;
                    }

                    @media screen and (min-width: 600px) {
                        display: inline-block;
                        overflow: hidden;
                        border: none;
                    }
                }

                @media screen and (min-width: 600px) {
                    display: inline;
                }
            }
        }

        #logo {
            @media screen and (min-width: 600px) {
                float: left;
            }
        }
    }
}


